<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="ALIOSS_ACCESS_KEY_ID" value="" force="true"/>
        <env name="ALIOSS_ACCESS_KEY_SECRET" value="" force="true"/>
        <env name="ALIOSS_ENDPOINT" value="" force="true"/>
        <env name="ALIOSS_BUCKET" value="" force="true"/>
        <env name="ALIOSS_IS_CNAME" value="false" force="true"/>
        <env name="ALIOSS_SECURITY_TOKEN" value="" force="true"/>
        <env name="requestProxy" value="" force="true"/>
    </php>
</phpunit>
